# Maven
target/
!.mvn/wrapper/maven-wrapper.jar
!**/src/main/**/target/
!**/src/test/**/target/

# IDE - IntelliJ IDEA
.idea/
*.iws
*.iml
*.ipr
out/

# IDE - VS Code
.vscode/

# OS
.DS_Store
Thumbs.db

# Spring Boot
*.log
spring.log

# SonarQube local
.sonar/
